* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-top: 70px;
}

/* dynamic elements */

.container_film {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.film_result {
    min-height: 600px;
    display: flex;
    display: block;
    margin-top: 20px;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.film_result h4 > i {
    color: rgb(255, 166, 0);
}

.bandiera {
    width: 30px;
}

.container_details {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    color: white;
}


/* / dynamic elements */

/* header */

header {
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 200px;
}

.search_container {
    margin: auto;
    transform: translate(-50%);
}

input, button {
    height: 30px;
}

header i {
    color: white;
    margin-right: 30px;
    font-size: 20px;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

/* /header */

/* corpo principale */

.img_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_result {
    width: 342px;
}

/* /corpo principale */


/* hover */

.film_result > img:hover {
    opacity: 0.3;
}

.film_result:hover .container_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
