<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <!-- header -->

        <header>
            <img class="logo" src="logo.png" alt="">
            <div class="search_container">
                <input :class="showSearchClass" type="text" v-model="query" @keyup.enter="searchFilm">
                <button :class="showSearchClass" @click="searchFilm">Cerca</button>
            </div>
            <i @click="showSearch()" class="fas fa-search"></i>
        </header>

        <div class="container_film">
            <div v-for="(val, index) in film" class="film_result">

                <div class="img_container">
                    <img class="img_result" v-if="val.poster_path" :src="poster + val.poster_path" alt="">
                    <img class="img_result" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="">
                </div>

                <div class="container_details">
                    <h2> {{val.title || val.name}} </h2>
                    <h3>
                        Lingua: <img v-if="bandiere.includes(val.original_language)" class="bandiera" :src="val.original_language + '.webp'" alt="">
                        <span v-else> {{val.original_language}}</span>
                    </h3>
                    <h3>Titolo originale: {{val.original_title || val.original_name}}</h3>
                    <h4>Voto: {{val.vote_average}}</h4>
                    <h4>Voto: 
                        <i v-for="i in votoStella[index]" class="fas fa-star"></i>
                        <i v-for="i in 5 - votoStella[index]" class="far fa-star"></i>
                    </h4>
                    <p>Trama: {{val.overview}}</p>
                </div>
                
            </div>
            <!-- <div v-for="(val, index) in series" class="film_result">
                <div class="img_container">
                    <img class="img_result" v-if="val.poster_path" :src="poster + val.poster_path" alt="">
                    <img class="img_result" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="">
                </div>
                <div class="container_details">
                    <h2> {{val.name}} </h2>
                    <h3>
                        Lingua: <img v-if="bandiere.includes(val.original_language)" class="bandiera" :src="val.original_language + '.webp'" alt="">
                        <span v-else> {{val.original_language}}</span>
                    </h3>
                    <h3 v-else> Lingua {{val.original_language}}</h3>
                    <h3>Titolo originale: {{val.original_name}}</h3>
                    <h4>Voto: {{val.vote_average}}</h4>
                    <h4>Voto: 
                        <i v-for="i in votoStellaSerie[index]" class="fas fa-star"></i>
                        <i v-for="i in 5 - votoStellaSerie[index]" class="far fa-star"></i>
                    </h4>
                    <p>Trama: {{val.overview}}</p>
                </div> -->
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>